html {
  font-size: 62.5%; }

header {
  background: #eaf2f4; }
  header #header_in {
    padding-top: 10px;
    padding-bottom: 4px; }
  @media (max-width: 550px) {
    header .logo {
      width: 190px; }
    header .navi {
      width: 40px;
      float: right; }
    header .pc_navi {
      display: none; } }
  header .sp_navi_li {
    width: 180px;
    position: absolute;
    top: 50px;
    right: 2%;
    z-index: 100;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding: 0;
    display: none; }
  header li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header li a {
      display: block;
      font-size: 14px;
      text-decoration: none; }
  @media (min-width: 550px) {
    header .sp_navi {
      display: none; }
    header #header_in {
      padding: 15px 0 10px 0; }
    header .pc_navi_li {
      margin: 0;
      padding: 0; }
      header .pc_navi_li li {
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0; }
        header .pc_navi_li li a {
          color: #626262;
          text-decoration: none;
          font-weight: bold;
          font-size: 14px;
          font-size: 1.4rem;
          float: left;
          padding-right: 10px; }
        header .pc_navi_li li a:hover {
          color: #42b9d0; }
      header .pc_navi_li li.navi_toppage a {
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;
        background-image: url("../images/top/navi_top.png");
        background-size: 40px 40px; } }
    @media screen and (min-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 550px) and (min-resolution: 2dppx) {
      header .pc_navi_li li.navi_toppage a {
        background-image: url("../images/top/navi_top@2x.png"); } }
  @media (min-width: 550px) {
      header .pc_navi_li li.navi_news a {
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;
        background-image: url("../images/top/navi_news.png");
        background-size: 40px 40px; } }
    @media screen and (min-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 550px) and (min-resolution: 2dppx) {
      header .pc_navi_li li.navi_news a {
        background-image: url("../images/top/navi_news@2x.png"); } }
  @media (min-width: 550px) {
      header .pc_navi_li li.navi_company a {
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;
        background-image: url("../images/top/navi_company.png");
        background-size: 40px 40px; } }
    @media screen and (min-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 550px) and (min-resolution: 2dppx) {
      header .pc_navi_li li.navi_company a {
        background-image: url("../images/top/navi_company@2x.png"); } }

#cover_area {
  text-align: center;
  padding: 80px 0;
  background-image: url("../images/top/cover.jpg");
  background-size: cover; }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    #cover_area {
      background-image: url("../images/top/cover@2x.jpg"); } }
  @media (min-width: 550px) {
    #cover_area {
      text-align: left;
      height: 420px;
      padding: 0; }
      #cover_area img {
        margin-top: 180px;
        margin-left: 70px; } }

#service_area {
  padding-top: 20px; }
  @media (min-width: 550px) {
    #service_area {
      padding-top: 30px; } }
  #service_area .columns {
    color: #626262; }
    #service_area .columns .service_title {
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 8px; }
    #service_area .columns p {
      font-size: 15px;
      font-size: 1.5rem;
      margin-top: 10px; }
    @media (min-width: 550px) {
      #service_area .columns .service_title {
        font-size: 16px;
        font-size: 1.6rem; }
      #service_area .columns p {
        font-size: 13px;
        font-size: 1.3rem; } }

#news_area {
  background-color: #eaf2f4; }
  @media (min-width: 550px) {
    #news_area .container {
      padding: 0px 10% 50px 10%; } }
  #news_area .news_title {
    text-align: center;
    font-size: 26px;
    font-size: 2.6rem;
    color: #42b9d0;
    padding: 15px 0 10px 0;
    font-weight: bold;
    letter-spacing: 0.2rem; }
  #news_area .news_lists li {
    list-style: none;
    font-size: 15px;
    font-size: 1.5rem; }
    #news_area .news_lists li span {
      color: #42b9d0;
      font-weight: bold;
      display: block;
      margin-bottom: 3px; }
  @media (min-width: 550px) {
    #news_area .news_title {
      text-align: center;
      font-size: 22px;
      font-size: 2.2rem;
      color: #42b9d0;
      padding: 50px 0 41px 0;
      letter-spacing: 0.2rem; }
    #news_area .news_lists li {
      list-style: none;
      font-size: 14px;
      font-size: 1.4rem;
      margin-bottom: 20px; }
      #news_area .news_lists li span {
        color: #42b9d0;
        font-weight: bold;
        display: block;
        margin-bottom: 3px; } }
@media (min-width: 550px) and (min-width: 550px) {
  #news_area .news_lists li {
    list-style: none;
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 20px; }
    #news_area .news_lists li span {
      color: #42b9d0;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 0px; } }

footer {
  background-color: #42b9d0;
  color: #fff;
  padding-top: 20px; }
  @media (max-width: 550px) {
    footer .container {
      margin: 0;
      padding: 0; }
    footer .sp {
      padding: 0 6%;
      margin: 0 auto; }
    footer .foot_navi {
      margin-top: 20px; }
      footer .foot_navi li {
        list-style: none;
        margin-bottom: 1px; }
        footer .foot_navi li a {
          color: #42b9d0;
          background-color: #eaf2f4;
          display: block;
          text-align: center;
          font-weight: bold;
          text-decoration: none;
          font-size: 16px;
          font-size: 1.6rem;
          padding: 16px 0; } }
  footer .foot_address {
    font-size: 16px;
    font-size: 1.6rem;
    padding-top: 10px; }
  footer .copy {
    text-align: center;
    font-size: 11px;
    font-size: 1.1rem;
    color: #b2e1ea; }
  @media (min-width: 550px) {
    footer {
      padding-top: 30px; }
      footer .foot_address {
        padding: 0px;
        font-size: 12px;
        font-size: 1.2rem; }
      footer .foot_navi {
        float: right; }
        footer .foot_navi li {
          list-style: none;
          background-repeat: no-repeat;
          background-position: left center;
          display: inline-block;
          float: left;
          margin-right: 10px;
          font-size: 11px;
          font-size: 1.1rem;
          background-image: url("../images/top/foot_arroehead.png");
          background-size: 4px 6px; } }
      @media screen and (min-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 550px) and (min-resolution: 2dppx) {
        footer .foot_navi li {
          background-image: url("../images/top/foot_arroehead@2x.png"); } }
  @media (min-width: 550px) {
        footer .foot_navi a {
          color: white;
          padding-left: 10px;
          text-decoration: none; }
        footer .foot_navi a:hover {
          color: #eaf2f4; }
      footer .copy {
        margin-top: 30px; } }

h1 {
  margin: 0;
  padding: 0; }

.fb_hidden {
  position: absolute;
  top: -10000px;
  z-index: 10001; }

.fb_reposition {
  overflow: hidden;
  position: relative; }

.fb_invisible {
  display: none; }

.fb_reset {
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: "lucida grande", tahoma, verdana, arial, "hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal; }

.fb_reset > div {
  overflow: hidden; }

.fb_link img {
  border: none; }

@keyframes fb_transform {
  from {
    opacity: 0;
    transform: scale(0.95); }
  to {
    opacity: 1;
    transform: scale(1); } }
#sub_cover {
  padding: 40px 0;
  background-image: url("../images/news/sub_cover.jpg");
  background-size: cover; }
  #sub_cover h2 {
    text-align: center;
    color: white;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0.2rem; }
  @media (min-width: 550px) {
    #sub_cover {
      padding: 80px 0; }
      #sub_cover h2 {
        text-align: center;
        color: white;
        font-size: 32px;
        font-size: 3.2rem;
        font-weight: bold;
        margin: 0;
        letter-spacing: 0.2rem; } }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    #sub_cover {
      background-image: url("../images/news/sub_cover@2x.jpg"); } }

#contents {
  padding-top: 20px; }
  @media (min-width: 550px) {
    #contents {
      padding-top: 35px;
      padding-bottom: 70px; }
      #contents #main {
        padding-right: 20px; }
        #contents #main h2 {
          font-size: 20px;
          font-size: 2rem;
          padding-bottom: 20px; }
        #contents #main .news_li li {
          list-style: none;
          padding-bottom: 5px; }
          #contents #main .news_li li span {
            display: inline-block;
            margin-bottom: 0;
            padding-right: 10px; } }
  @media (max-width: 550px) {
    #contents #sidebar .pc_sidemenu {
      display: none; } }
  #contents #main h2 {
    color: #42b9d0;
    border-bottom: 3px solid #42b9d0;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 15px; }
  #contents #main .news_li {
    font-size: 15px;
    font-size: 1.5rem; }
    #contents #main .news_li li {
      list-style: none; }
      #contents #main .news_li li span {
        color: #42b9d0;
        font-weight: bold;
        margin-bottom: 3px; }
  #contents #main h2.company_title {
    margin-bottom: 0px; }
  #contents #main td {
    padding: 20px 0;
    color: #626262;
    font-size: 14px;
    font-size: 1.4rem; }
  #contents #main th {
    padding-right: 20px; }
  #contents #sidebar {
    padding-bottom: 20px; }
    #contents #sidebar .pc_sidemenu h3 {
      color: #42b9d0;
      font-size: 14px;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      font-weight: bold;
      background-color: #f3f9fb;
      padding: 15px;
      margin-bottom: 0px; }
    #contents #sidebar .pc_sidemenu li {
      list-style: none;
      display: block;
      border-bottom: 1px solid #e5e5e5;
      background-repeat: no-repeat;
      background-position: 8px center;
      margin-bottom: 0px;
      padding: 10px 10px 10px 20px;
      background-image: url("../images/news/side_arrow.png");
      background-size: 4px 8px; }
      @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        #contents #sidebar .pc_sidemenu li {
          background-image: url("../images/news/side_arrow@2x.png"); } }
      #contents #sidebar .pc_sidemenu li a {
        color: #339fd1;
        text-decoration: none; }
      #contents #sidebar .pc_sidemenu li a:hover {
        color: #42b9d0; }

.fb_animate {
  animation: fb_transform .3s forwards; }

.fb_dialog {
  background: rgba(82, 82, 82, 0.7);
  position: absolute;
  top: -10000px;
  z-index: 10001; }

.fb_reset .fb_dialog_legacy {
  overflow: visible; }

.fb_dialog_advanced {
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.fb_dialog_content {
  background: #fff;
  color: #333; }

.fb_dialog_close_icon {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
  _background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  right: 18px;
  top: 17px;
  width: 15px; }

.fb_dialog_mobile .fb_dialog_close_icon {
  top: 5px;
  left: 5px;
  right: auto; }

.fb_dialog_padding {
  background-color: transparent;
  position: absolute;
  width: 1px;
  z-index: -1; }

.fb_dialog_close_icon:hover {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
  _background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif); }

.fb_dialog_close_icon:active {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
  _background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif); }

.fb_dialog_loader {
  background-color: #f6f7f9;
  border: 1px solid #606060;
  font-size: 24px;
  padding: 20px; }

.fb_dialog_top_left, .fb_dialog_top_right, .fb_dialog_bottom_left, .fb_dialog_bottom_right {
  height: 10px;
  width: 10px;
  overflow: hidden;
  position: absolute; }

.fb_dialog_top_left {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;
  left: -10px;
  top: -10px; }

.fb_dialog_top_right {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;
  right: -10px;
  top: -10px; }

.fb_dialog_bottom_left {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;
  bottom: -10px;
  left: -10px; }

.fb_dialog_bottom_right {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;
  right: -10px;
  bottom: -10px; }

.fb_dialog_vert_left, .fb_dialog_vert_right, .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
  position: absolute;
  background: #525252;
  filter: alpha(opacity=70);
  opacity: .7; }

.fb_dialog_vert_left, .fb_dialog_vert_right {
  width: 10px;
  height: 100%; }

.fb_dialog_vert_left {
  margin-left: -10px; }

.fb_dialog_vert_right {
  right: 0;
  margin-right: -10px; }

.fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
  width: 100%;
  height: 10px; }

.fb_dialog_horiz_top {
  margin-top: -10px; }

.fb_dialog_horiz_bottom {
  bottom: 0;
  margin-bottom: -10px; }

.fb_dialog_iframe {
  line-height: 0; }

.fb_dialog_content .dialog_title {
  background: #6d84b4;
  border: 1px solid #365899;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0; }

.fb_dialog_content .dialog_title > span {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
  float: left;
  padding: 5px 0 7px 26px; }

body.fb_hidden {
  -webkit-transform: none;
  height: 100%;
  margin: 0;
  overflow: visible;
  position: absolute;
  top: -10000px;
  left: 0;
  width: 100%; }

.fb_dialog.fb_dialog_mobile.loading {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10001; }

.fb_dialog.fb_dialog_mobile.loading.centered {
  width: auto;
  height: auto;
  min-height: initial;
  min-width: initial;
  background: none; }

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
  width: 100%; }

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
  background: none; }

.loading.centered #fb_dialog_loader_close {
  color: #fff;
  display: block;
  padding-top: 20px;
  clear: both;
  font-size: 18px; }

#fb-root #fb_dialog_ipad_overlay {
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10000; }

#fb-root #fb_dialog_ipad_overlay.hidden {
  display: none; }

.fb_dialog.fb_dialog_mobile.loading iframe {
  visibility: hidden; }

.fb_dialog_content .dialog_header {
  -webkit-box-shadow: white 0 1px 1px -1px inset;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
  border-bottom: 1px solid;
  border-color: #1d4088;
  color: #fff;
  font: 14px Helvetica, sans-serif;
  font-weight: bold;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 30, 84, 0.29688) 0 -1px 0;
  vertical-align: middle;
  white-space: nowrap; }

.fb_dialog_content .dialog_header table {
  -webkit-font-smoothing: subpixel-antialiased;
  height: 43px;
  width: 100%; }

.fb_dialog_content .dialog_header td.header_left {
  font-size: 12px;
  padding-left: 5px;
  vertical-align: middle;
  width: 60px; }

.fb_dialog_content .dialog_header td.header_right {
  font-size: 12px;
  padding-right: 5px;
  vertical-align: middle;
  width: 60px; }

.fb_dialog_content .touchable_button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(0.5, #355492), to(#2A4887));
  border: 1px solid #29487d;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11719) 0 1px 1px inset, rgba(255, 255, 255, 0.16797) 0 1px 0;
  display: inline-block;
  margin-top: 3px;
  max-width: 85px;
  line-height: 18px;
  padding: 4px 12px;
  position: relative; }

.fb_dialog_content .dialog_header .touchable_button input {
  border: none;
  background: none;
  color: #fff;
  font: 12px Helvetica, sans-serif;
  font-weight: bold;
  margin: 2px -12px;
  padding: 2px 6px 3px 6px;
  text-shadow: rgba(0, 30, 84, 0.29688) 0 -1px 0; }

.fb_dialog_content .dialog_header .header_center {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  vertical-align: middle; }

.fb_dialog_content .dialog_content {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
  border: 1px solid #555;
  border-bottom: 0;
  border-top: 0;
  height: 150px; }

.fb_dialog_content .dialog_footer {
  background: #f6f7f9;
  border: 1px solid #555;
  border-top-color: #ccc;
  height: 40px; }

#fb_dialog_loader_close {
  float: left; }

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
  text-shadow: rgba(0, 30, 84, 0.29688) 0 -1px 0; }

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
  visibility: hidden; }

#fb_dialog_loader_spinner {
  animation: rotateSpinner 1.2s linear infinite;
  background-color: transparent;
  background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yD/r/t-wz8gw1xG1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 24px;
  width: 24px; }

@keyframes rotateSpinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.fb_iframe_widget {
  display: inline-block;
  position: relative; }

.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify; }

.fb_iframe_widget iframe {
  position: absolute; }

.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
  max-width: 100%; }

.fb_iframe_widget_fluid_desktop iframe {
  min-width: 220px;
  position: relative; }

.fb_iframe_widget_lift {
  z-index: 1; }

.fb_hide_iframes iframe {
  position: relative;
  left: -10000px; }

.fb_iframe_widget_loader {
  position: relative;
  display: inline-block; }

.fb_iframe_widget_fluid {
  display: inline; }

.fb_iframe_widget_fluid span {
  width: 100%; }

.fb_iframe_widget_loader iframe {
  min-height: 32px;
  z-index: 2;
  zoom: 1; }

.fb_iframe_widget_loader .FB_Loader {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;
  height: 32px;
  width: 32px;
  margin-left: -16px;
  position: absolute;
  left: 50%;
  z-index: 4; }

/*# sourceMappingURL=sample.css.map */
